<div class="detail-section">
    <div class="container-fluid">
        <div class="row">
    
            <div>
                <img src="{{ product.imageUrl }} " class="detail-img">
    
                <h3>{{ product.name }}</h3>
                <div class="price"> {{ product.unitPrice | currency:'EUR' }}</div>
                <a href="#" class="primary-btn">{{ 'cart.add-to-cart' | translate }}</a>
    
                <hr>
                <h4>Description</h4>
                <p>{{ product.description }}</p>
    
                <a routerLink="/products" class="mt-5">{{ 'navigation.back-to-product-list' | translate }}</a>
            </div>
        </div>
    </div>
</div>