<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let productCategory of productCategories">
          <!-- Set up Toute Links to pass category id param. "routerLink" is based on Routes configuration -> use ProductListCompoment -->
          <a routerLink="/category/{{ productCategory.id }}" routerLinkActive="active-link">{{ productCategory.categoryName }}</a>
        </li>
      </ul>
    </nav>
  </div>
