<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer formgroup -->
                <div formGroupName="customer" class="form-area">
                    <h3>{{ 'checkout.customer.title' | translate }}</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.customer.firstName' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }} 
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.customer.lastName' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="lastName.errors.minlength">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.customer.email' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="email.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="email.errors.pattern">
                                        {{ 'checkout.errors.emailMustBeValidFormat' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping Address formgroup -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>{{ 'checkout.shippingAddress.title' | translate }}</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.shippingAddress.country' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" 
                                        type="text" 
                                        (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" 
                                            [ngValue]="country">
                                        {{ country.name }} - {{ country.code }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCountry.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.shippingAddress.street' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="shippingAddressStreet.errors.minlength">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.shippingAddress.city' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="shippingAddressCity.errors.minlength">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.shippingAddress.state' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" type="text">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}         
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressState.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.shippingAddress.zipCode' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressZipCode.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="shippingAddressZipCode.errors.pattern">
                                        {{ 'checkout.errors.zipCodeFormat' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add checkbox to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>{{ 'checkout.billingSameAsShippingAddress' | translate }} 
                    </label>
                </div>


                <!-- billing Address formgroup -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>{{ 'checkout.billingAddress.title' | translate }}</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.billingAddress.country' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" 
                                        type="text" 
                                        (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" 
                                            [ngValue]="country">
                                        {{ country.name }} - {{ country.code }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressCountry.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.billingAddress.street' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="billingAddressStreet.errors.minlength">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.billingAddress.city' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="billingAddressCity.errors.minlength">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.billingAddress.state' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" 
                                        type="text" >
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}         
                                    </option>
                                </select>

                                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressState.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.billingAddress.zipCode' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressZipCode.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="billingAddressZipCode.errors.pattern">
                                        {{ 'checkout.errors.zipCodeMustBeValidFormat' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- credit card formgroup -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>{{ 'checkout.creditCard.title' | translate }}</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.creditCard.cardType' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" type="text">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>

                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardType.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.creditCard.nameOnCard' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">

                                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace ">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="creditCardNameOnCard.errors.minlength ">
                                        {{ 'checkout.errors.fieldMin2CharactersLong' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.creditCard.cardNumber' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardNumber.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        {{ 'checkout.errors.cardNumberMustBeValidFormat' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.creditCard.securityCode' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">

                                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        {{ 'checkout.errors.fieldRequired' | translate }}
                                    </div>

                                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                                        {{ 'checkout.errors.cardSecurityCodeMustBeValidFormat' | translate }} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.creditCard.expirationMonth' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" type="text">

                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>{{ 'checkout.creditCard.expirationYear' | translate }}</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" 
                                        type="text"
                                        (change)="handleMonthsAndYears()">
                                <!-- <select formControlName="expirationYear" 
                                        type="text"
                                        (change)="handleMonthsAndYears($event.target.value)"> -->

                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- order details -->
                <div class="form-area">
                    <h3>{{ 'checkout.reviewOrder' | translate }}</h3>

                    <p>{{ 'cart.totalQuantity' | translate }}: {{ totalQuantity }}</p>
                    <p>{{ 'cart.shipping' | translate }}: {{ 'checkout.shippingFree' | translate }} </p>
                    <p>{{ 'cart.totalPrice' | translate }}: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">
                        {{ 'checkout.purchase' | translate }}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
